p {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}
.Dict {
  padding: 30px;
  border-radius: 6px;
  margin: 0 auto;
}
.Dict h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: plum;
  font-family: "Courier New", Courier, monospace;
}
.Dict form {
  text-align: center;
}
.Dict input {
  max-width: 100%;
}
.results {
  text-align: center;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  max-width: 80%;
  margin: 0 auto;
}
.results h2 {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  color: plum;
  font-family: "Courier New", Courier, monospace;
}
.meaning {
  background-color: lavenderblush;
  text-align: center;
}
.synonym {
  text-align: left;
}
.phonetics {
  text-decoration: none;
  display: inline-block;
}
a {
  text-decoration: none;
  color: plum;
}
img {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
