form {
  text-align: center;
}
p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.results {
  text-align: center;
}
.meaning {
  background-color: lavender;
}
.phonetics {
  text-decoration: none;
  display: inline-block;
}
a {
  text-decoration: none;
  color: plum;
}
